@using Unir.ErpAcademico.WebCapacitaciones.Globalization
@{
    ViewBag.Title = "";
    ViewBag.TitlePage = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-home-index">
    <div>@ViewsStrings.Title</div>
</div>

